/* Global Settings */
:root {
  /* Kolory */
  --blue: #345ff6;
  --gunmetal: #253347;
  --darkelectricblue: #5e6e85;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(90deg, #ffffff 0%, rgb(215, 231, 254) 100%);
  height: 90vh;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 12rem;
  width: 60%;
  border-radius: 0px 0px 32px 0px;
  position: relative;
}

header img {
  margin-bottom: 2rem;
  width: 5rem;
}

header h1 {
  font-size: 64px;
  line-height: 1.1;
  color: var(--gunmetal);
  width: 60%;
  padding-top: 6rem;
}

header p {
  width: 45%;
  font-size: 16px;
  line-height: 1.5;
  color: var(--darkelectricblue);
}

.calculator {
  width: 40%;
  position: absolute;
  height: 400px;
  top: 30%;
  left: 77%;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.calculator h2 {
  font-size: 24px;
  color: var(--gunmetal);
}

.input-group {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.input-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-item label {
  color: --darkelectricblue;
  margin-bottom: 5px;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #5e6e85;
  border-radius: 10px;
  padding: 18px;
  width: 85%;
}

input[type="number"] {
  border: none;
  outline: none;
  font-size: 24px;
  color: #253347;
  text-align: left;
  width: 80%;
}

.unit {
  color: #345ff6;
  font-size: 18px;
  font-weight: 600;
  margin-left: 5px;
}

.input-wrapper:focus-within {
  border: 1px solid #345ff6;
}

.result {
  margin-top: 2rem;
  background-color: var(--blue);
  padding: 1rem 2rem;
  border-radius: 12px 100px 100px 12px;
}

.result-title {
  font-size: 24px;
  color: #ffffff;
}

.result-description {
  font-size: 14px;
  width: 100%;
  color: #ffffff;
}

/* Tablet resolution */
@media (max-width: 1024px) {
  header {
    width: 100%;
    padding-left: 0;
    align-items: center;
    text-align: center;
  }

  header h1 {
    width: 95%;
    padding-top: 0;
  }

  header p {
    width: 80%;
  }

  .calculator {
    bottom: 2rem;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    text-align: left;
  }
}

/* Phone resolution */
@media (max-width: 375px) {
  header {
    width: 100%;
    padding-left: 0;
  }

  header h1 {
    width: 100%;
  }

  .calculator {
    top: 90%;
    height: 75vh;
  }

  .input-group {
    flex-direction: column;
  }

  .result {
    border-radius: 12px;
  }
}

.bmi-explanation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 6rem;
}

.bmi-img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bmi-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.bmi-description h1 {
  font-size: 48px;
  color: var(--gunmetal);
  width: 60%;
  padding-top: 8rem;
}

.bmi-description p {
  font-size: 16px;
  color: var(--darkelectricblue);
  width: 50%;
}

.bmi-line {
  position: absolute;
  top: 100%;
  left: 75%;
}

@media (max-width: 1280px) {
  .bmi-explanation {
    margin-top: 24rem;
  }

  .bmi-description h1 {
    padding-top: 2rem;
    width: 100%;
  }

  .bmi-description p {
    width: 85%;
  }
}

@media (max-width: 950px) {
  .bmi-explanation {
    gap: 0;
    display: flex;
    flex-direction: column;
  }

  .bmi-img {
    width: 100%;
    margin-top: 18rem;
  }

  .bmi-description {
    margin-left: 6rem;
    width: 100%;
  }

  .bmi-description h1 {
    padding-top: 2rem;
    width: 100%;
  }

  .bmi-description p {
    width: 85%;
  }
}
